<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, t('view.error number')) %><%= t('view.error message') %></h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr class="field">
    <td class="new-subject">
      <%= form.label :name %>
    </td>
  </tr>
  <tr class="field">
    <td class="new-content">
      <%= form.text_field :name %>
    </td>
  </tr>
  <tr class="field">
    <td class="new-subject">
      <%= form.label :detail %>
    </td>
  </tr>
  <tr class="field">
    <td class="new-content">
      <%= form.text_area :detail%>
    </td>
  </tr>
  <tr class="field">
    <td class="new-subject">
      <%= form.label :deadline %>
    </td>
  </tr>
  <tr class="field">
    <td class="new-deadline-content">
      <%= form.date_select :deadline ,id: 'deadline' %>
    </td>
  </tr>
  <tr class="field">
    <td class="new-subject">
      <%= form.label :status %>
    </td>
  </tr>
  <tr class="field">
    <td class="new-content">
      <%= form.select :status, Task.statuses_i18n.invert, include_blank: '選択してください' %>
    </td>
  </tr>
  <tr class="field last-field">
    <td class="new-subject">
      <%= form.label :priority %>
    </td>
  </tr>
  <tr class="field">
    <td class="new-content">
      <%= form.select :priority, Task.priorities_i18n.invert, include_blank: '選択してください' %>
    </td>
  </tr>
  <tr class="field last-field">
    <td class="new-subject">
      <%= form.label :ラベル %>
    </td>
  </tr>
  <tr class="field">
    <td>
      <% @labels.each do |label| %>
        <%= label.name %>
        <%= form.check_box :label_ids, { multiple: true, checked: @task.labels.find_by(id: label.id).present?,  disabled: label[:disabled], include_hidden: false }, label[:id] %>
      <% end %>
    </td>
  </tr>

  <tr class="center td-submit">
    <td class="new-submit"><%= form.submit %></td>
  </tr>

<% end %>
</table>


