<p id="notice"><%= notice %></p>

<h1>タスク一覧</h1>

<div>
  <%= form_with(url:tasks_path,local: true,method: :get) do |form| %>
    <%= form.label :name, t('view.name') %>
    <%= form.text_field :name, value: params[:name] %>
    <%= form.label :status, t('view.status') %>
    <%= form.select :status,Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]}, selected: params[:status],include_blank:"選択する" %>
    <%= form.hidden_field :search, value: 'true' %>
    <%= form.submit t('view.search') %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th><%= t('view.name') %></th>
      <th><%= t('view.detail') %></th>
      <th><%= t('view.deadline') %></th>
      <th><%= t('view.status') %></th>
      <th><%= t('view.priority') %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.detail %></td>
        <td class="date_row"><%= task.deadline %></td>
        <td><%= task.status_i18n %></td>
        <td class="date_priority"><%= task.priority_i18n %></td>
        <td><%= link_to t('view.show'), task, class: "show"%></td>
        <td><%= link_to t('view.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('view.destroy'), task, method: :delete, data: { confirm: t('view.destroy message') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.new task'), new_task_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %>
