<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.name') %>:</strong>
  <%= @task.name %>
</p>

<p>
  <strong><%= t('view.detail') %>:</strong>
  <%= @task.detail %>
</p>

<p>
  <strong><%= t('view.deadline') %>:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong><%= t('view.status') %>:</strong>
  <%= @task.status_i18n %>
</p>


<%= link_to t('view.back'), tasks_path %> |
<%= link_to t('view.edit'), edit_task_path(@task) %> |
<%= link_to t('view.destroy'), @task, method: :delete, data: { confirm: t('view.destroy message') } %>